<?php
// On démarre la session (ceci est indispensable dans toutes les pages de notre section membre)
session_start ();  
 
// On récupère nos variables de session
if (isset($_SESSION['l']) && isset($_SESSION['p'])) 
{ ?>
<HTML>

<head>
    <script src="../assets/js/valid.js"></script>
</head>

<body>
    <link rel="stylesheet" href="../assets/css/ajouter.css">
    <div class="container">
        <form id="contact" action="ajouter.php" method="post" onSubmit="return formValidation();" name='registration'>
            <h3>Ajouter un Hotel</h3>
            <h4>Ajouter un hotel dans la base de donner</h4>
            <fieldset>
                <input placeholder="Id de Hotel" type="text" tabindex="1" name="idH" autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Nom de Hotel" type="text" tabindex="1" name="nomHotel" required>
            </fieldset>
            <fieldset>
                <input placeholder="Nombre d'etoils" type="text"  tabindex="2" name="nbEtoils" required>
            </fieldset>
            <fieldset>
                <input placeholder="Nombre de chambres" type="text" tabindex="3" name="nbChambre" required>
            </fieldset>
            <fieldset>
                <input placeholder="lien de photo" type="text" tabindex="4" name="photo" required>
            </fieldset>
            <fieldset>
                <textarea placeholder="Description du hotel" tabindex="5" name="description" required></textarea>
            </fieldset>
            <fieldset>
                <input placeholder="Adresse du hotel" type="text" tabindex="4" name="adresse" required>
            </fieldset>
            <fieldset>
                <input placeholder="Note du Hotel" type="text"  tabindex="4" name="note" required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit">Submit</button>
            </fieldset>
        </form>


    </div>

</body>

</HTMl>
